{% extends 'admin_template/base_template.html' %}
{% block page_title %}
Complaints
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <!-- <th>ID</th> -->
                  <th>Send On</th>
                  <th>Complaint</th>
                  <th>People</th>
                  <th>Department</th>
                  <th>Panchayath</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              {% for complaint in complaints %}
              {% if complaint.status == 0 %}
                <tr>
                  <!-- <td>{{ complaint.id }}</td> -->
                  <td>{{ complaint.created_at}} </td>
                  <td>{{ complaint.description }}</td>
                  <td>{{ complaint.people_id.peoples.first_name }}</td>
                  <td>{{ complaint.department_id.peoples.first_name }}</td>
                  <td>{{ complaint.people_id.panchayath }}( {{ complaint.people_id.district }} )</td>

                  <td><a href="{% url 'admin_approve_complaint' complaint.id %}" class="btn btn-success">Approve</a>
                    <form action="{% url 'admin_disapprove_complaint' complaint.id %}" method="POST" onsubmit="window.ondelete()" style="display: inline;">
                      {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Decline</button></td>
                  </form></td>
                 
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock main_content %}
{% block custom_js %}
<script type="text/Javascript">
  window.ondelete= function(){
    var isValid =confirm('Are you sure Do you Want To Decline ?');
    if (!isValid){
      event.preventDefault();
      // alert("It Wont delete");
    }
  }
</script>
{% endblock custom_js %}