<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserSignup</title>
</head>
<body>
    <form method="POST" >
        {% csrf_token %}
    <label>First name</label>
    <input type="text" name="first_name"><br><br>
    <label>Last name</label>
    <input type="text" name="last_name"><br><br>
    <label>Email </label>
    <input type="email" name="email"><br><br>
    <label>Username</label>
    <input type="text" name="username"><br><br>
    <label>Password</label>
    <input type="password" name="password"><br><br>
    <label>Address</label>
    <input type="text" name="address"><br><br>
    <label>Gender</label>
    <input type="text" name="gender"><br><br>
    <label>District</label>
    <input type="text" name="district"><br><br>
    <label>Aadhaar</label>
    <input type="text" name="aadhaar"><br><br>
    <label>Mobile</label>
    <input type="text" name="mobile"><br><br>
    <label>Legestic Assemly</label>
    <input type="text" name="legestic"><br><br>
    <label>Panchayath</label>
    <input type="text" name="panchayath"><br><br>
    <label>Pincord</label>
    <input type="text" name="pincord"><br><br>
    <button type="submit" class="btn btn-primary btn-block">Add Employee</button>
</form>
</body>
</html>