{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form For E-Public</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="main">

        <div class="container">
            <form method="POST" class="appointment-form" id="appointment-form">
                {% csrf_token %}
                <h2>E-Public Registration Form</h2>
                <div class="form-group-1">
                    <input type="text" name="first_name" id="first_name" placeholder="First Name" required />
                    <input type="text" name="last_name" id="last_name" placeholder="Last Name" required />
                    <input type="email" name="email" id="email" placeholder="Email" required />
                    <input type="text" name="username" id="username" placeholder="Username" required />
                    <input type="password" name="password" id="password" placeholder="Password" required />
                    <input type="text" name="address" id="address" placeholder="Address" required />
                    <div class="">
                        <select name="gender" id="gender">
                            <option slected value="">Male</option>
                            <option value="society">Female</option>
                            <option value="language">Other</option>
                        </select>
                    </div>
                    <div class="">
                <input type="text" name="district" id="district" placeholder="district" required />

                        <!-- <select name="district" id="district">
                            <option slected value="">Course Type</option>
                       
                        </select> -->
                    </div>
                </div>
                <input type="text" name="mobile" id="mobile_number" placeholder="Mobile Number" required />
                <input type="text" name="aadhaar" id="aadhaar_number" placeholder="Aadhaar Number" required />
                <div class="form-group-2">
                    <div class="">
                <input type="text" name="legestic" id="legestic" placeholder="Legestic Assembly" required />

                        <!-- <select name="legestic" id="legislative_assembly">
                            <option seleected value="">Legislative Assembly</option>
                        </select> -->
                    </div>
                    <div class="">
                <input type="text" name="panchayath" id="panchayath" placeholder="Panchayath" required />

                        <!-- <select name="panchayath" id="panchayath">
                            <option selected value="">Panchayath</option>
                        </select> -->
                    </div>
                <input type="text" name="pincord" id="pincode" placeholder="Pincode" required />

                </div>
                <div class="form-check">
                    <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                    <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree to the  <a href="#" class="term-service">Terms and Conditions</a></label>
                </div>
                <div class="form-submit">
                    <input type="submit" name="submit" id="submit" class="submit" value="Register" />
                </div>
            </form>
        </div>

    </div>

    <!-- JS -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>